# Ignore environment files
.env

# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Ignore log files
*.log

# Ignore data files
*.json
